body{
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img{
    max-width: 100%;
    height: auto;
}
 
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 20зч;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: .2s;
    padding-bottom: 20px;
    background: url(../My_site/img/intro-bg2.jpg) no-repeat center;
    background-size:cover ;
}
.subheader{
    font-weight: 500px;
    font-size: 35px;
    line-height: 42px; 
    position: relative;
    padding-bottom: 10px; 
}

.subheader::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}







.header_active{
    background-color: #0E1D28;

}
.header_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px; 
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header_item{
    margin-right: 82px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header_link:hover{
    opacity: 0.80;
}









.intro{
    min-height: 100vh;
    
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 0;
}

.intro_title{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: black;
    padding-top: 60px;
}

.intro_subtitle{
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

.intro_desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-right: 400px;
}




.slider{
    width: 400px;
    margin: 0 auto;

}

.slide{
    display: none;
    position: relative;

}

.slide img{
    width: 400px;
    height: 250px;

}

.slide p{
    position: absolute;
    widows: 400px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    text-shadow: 4px 3px black;

}

.dots{
    width: 100%;
    margin: 0 auto;
}
.dot. active{
    background-color: #0E1D28

}

.dot{
    display: inline-block;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50px;

}















footer{
    background-color:#0E1D28 ;
    padding: 120px 0;
    margin-top: 0;
}   

.footer-item{
    display: flex;
}
.footer-logo{
    width: 50%;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer-menu-item{
    list-style-type: none;
}
.footer-menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff ;
    margin: 0;
}

.footer-menu-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

        /*---footer end---*/