
body{
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img{
    max-width: 100%;
    height: auto;
}
 
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.container-main-content{
    max-width: 1262px;
    margin: 0 auto;
}
.subheader{
    font-weight: 500px;
    font-size: 35px;
    line-height: 42px; 
    position: relative;
    padding-bottom: 10px; 
}
.subheader::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* Стили для header начало */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: .2s;
    padding-bottom: 20px;
}
.header_active{
    background-color: #0E1D28;
}
.header_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px; 
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header_item{
    margin-right: 82px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header_link:hover, 
    opacity: 0.80;
}

.header_link:active{
    color: lawngreen;
}

/* Стили для header конец */



/* Стили для intro начало */

.intro{
    min-height: 100vh;
    background: url(../My_site/img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro_title{
    max-width: 620px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro_subtitle{
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

/*-----поиск.начало-----*/

.search_form p{
    display: flex;
}
.search_form p input{
    background-color: transparent;
    background: url(../My_site/img/svg/circle.svg) no-repeat left 6px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.search_form p input::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;  
}
.search_form p button{
    padding: 15px 39px;
    text-transform: uppercase;
    background-color: #1B7DFF;
    font-size: 24px;
    color: #ffffff;
    border: 0;
}
.search_form p button:hover, .search_form p button:active{
    background-color: royalblue;
    cursor: pointer;
}

/*-----поиск.конец-----*/


/*-----карточки.начало-----*/
.benefits{
    margin-bottom: 130px;
}

.benefits-container{
    max-width: 1262px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title{
    width: 1062px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 120px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}

.benefits-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits-card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-card-img{
    max-width: 66px;
    margin-bottom: 37px;
    padding-top: 30px;
}

.benefits-card-title{
    font-weight: 500px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits-card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits-card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    text-transform: uppercase;
    background: url(../My_site/img/svg/Shape.svg) no-repeat right center;
}

    


/*-----карточки.конец-----*/

/*----pictures start----*/

.pictures{
    margin-bottom: 200px;
}
.pictures-title{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
}

.pictures-container{
    display: flex; /*для того чтобы элементы разместились на одной строке*/
    align-items: center; /*выравнивание по центру*/
    justify-content: space-between; /*чтобы элементы прибились к разным концам нашего блока*/
    margin-bottom: 36px;
}

.pictures-view-all{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 60px;
    background: url(../My_site/img/svg/Shape.svg) no-repeat right center;
}

.pictures-view-all:hover{
    opacity: .65;
}

.pictures-cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.pictures-card{
    position: relative;
    width: 100%;
    height: 100%;
}
     /*теневой эффект*/
.pictures-card::after{ 
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
     /*теневой эффект*/

.pictures-card-pic{
    height: 100%;
    width: 100%;
 }

.pictures-card-title{
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.pictures-card_size_lg{
    height: 354px;
    grid-column: span 3;
    margin: 0 auto;

}

.pictures-card_size_sm{
    height: 283px;
    grid-column: span 2;
}


.pictures-card-link{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
        /*---picturess end---*/

        /*---travels start---*/

.travels{
    margin-bottom: 140px;
}
.travels-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 85px;
    align-items: center;
    margin-bottom: 77px;
}
.travel-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 45px;
    
}
.travel-desc{
    padding-left: 47px;
}
.travel-desc-info{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.travel-link{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 60px;
    background: url(../My_site/img/svg/Shape.svg) no-repeat right center;
}


        /*---travels end---*/


        /*---places start---*/

.places{
    margin-bottom: 86px;

}
.places-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.places-title{
    margin-bottom: 54px ;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;  

}
.place-card-pic{
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.place-card-statistics{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 0px;
}

.place-card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.place-card-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    margin-right: 15px;
    background: url(../My_site/img/svg/heart.svg) no-repeat right;
}
.place-card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../My_site/img/svg/comment.svg) no-repeat right;
}
.place-card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.place-card-see-more{
    padding: 12px 20px;
    background: #006DFE;
    text-decoration: none;
    color: #fff;
    font-size: 16px;

}
        /*---places end---*/

        /*---video start---*/

.video{
    width: 100%;
}

.video-container{
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 0;
}

        /*---video end---*/

        /*---footer start---*/

footer{
    background-color:#0E1D28 ;
    padding: 120px 0;
    margin-top: -5px;
}   

.footer-item{
    display: flex;
}
.footer-logo{
    width: 50%;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer-menu-item{
    list-style-type: none;
}
.footer-menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff ;
    margin: 0;
}

.footer-menu-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

        /*---footer end---*/