
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 
.container{
    max-width: 1060px;
    margin: 0 auto;
}

/* Стили для header начало */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
.header_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px; 
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header_item{
    margin-right: 82px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header_link:hover, .header_link:active{
    opacity: 0.80;
}

/* Стили для header конец */



/* Стили для intro начало */

.intro{
    min-height: 100vh;
    background: url(../My_site/img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro_title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro_subtitle{
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

/*-----поиск.начало-----*/

.search_form p{
    display: flex;
}
.search_form p input{
    background-color: transparent;
    background: url(../My_site/img/svg/circle.svg) no-repeat left 6px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.search_form p input::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;  
}
.search_form p button{
    padding: 15px 39px;
    text-transform: uppercase;
    background-color: #1B7DFF;
    font-size: 24px;
    color: #ffffff;
    border: 0;
}
.search_form p button:hover, .search_form p button:active{
    background-color: royalblue;
    cursor: pointer;
}

/*-----поиск.конец-----*/


.benefits-container{
    max-width: 1262px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-container h2{
    width: 1060px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #ffffff;
}

.benefits-container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fm);
    grid-column-gap: 55px;
}